@font-face {
    font-family: 'AvenirNext-Regular';
    src: url('fonts/AvenirNext/AvenirNext-Regular.eot');
    src: url('fonts/AvenirNext/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/AvenirNext/AvenirNext-Regular.woff') format('woff'),
    url('fonts/AvenirNext/AvenirNext-Regular.ttf')  format('truetype'),
    url('fonts/AvenirNext/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque-Bold';
    src: url('fonts/BrandonGrotesque/BrandonGrotesque-Bold.eot');
    src: url('fonts/BrandonGrotesque/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/BrandonGrotesque/BrandonGrotesque-Bold.woff') format('woff'),
    url('fonts/BrandonGrotesque/BrandonGrotesque-Bold.ttf')  format('truetype'),
    url('fonts/BrandonGrotesque/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque-Regular';
    src: url('fonts/BrandonGrotesque-Reg/brandon_reg.eot');
    src: url('fonts/BrandonGrotesque-Reg/brandon_reg.eot?#iefix') format('embedded-opentype'),
    url('fonts/BrandonGrotesque-Reg/brandon_reg.woff') format('woff'),
    url('fonts/BrandonGrotesque-Reg/brandon_reg.ttf')  format('truetype'),
    url('fonts/BrandonGrotesque-Reg/brandon_reg.svg#brandon_reg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CourierPrime-Bold';
    src: url('fonts/CourierPrime/CourierPrime-Bold.eot');
    src: url('fonts/CourierPrime/CourierPrime-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/CourierPrime/CourierPrime-Bold.woff') format('woff'),
    url('fonts/CourierPrime/CourierPrime-Bold.ttf')  format('truetype'),
    url('fonts/CourierPrime/CourierPrime-Bold.svg#CourierPrime-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'CourierNew';
    src: url('fonts/CourierNewPSMT/CourierNewPSMT.eot?#iefix') format('embedded-opentype'),
    url('fonts/CourierNewPSMT/CourierNewPSMT.woff') format('woff'),
    url('fonts/CourierNewPSMT/CourierNewPSMT.ttf')  format('truetype'),
    url('fonts/CourierNewPSMT/CourierNewPSMT.svg#CourierNewPSMT') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CourierNewBoldItalic';
    src: url('fonts/CourierNewBoldItalic/courier_new_bold_italic-webfont.eot');
    src: url('fonts/CourierNewBoldItalic/courier_new_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/CourierNewBoldItalic/courier_new_bold_italic-webfont.woff2') format('woff2'),
    url('fonts/CourierNewBoldItalic/courier_new_bold_italic-webfont.woff') format('woff'),
    url('fonts/CourierNewBoldItalic/courier_new_bold_italic-webfont.ttf') format('truetype'),
    url('fonts/CourierNewBoldItalic/courier_new_bold_italic-webfont.svg#CourierNewBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CourierNewBold';
    src: url('fonts/CourierNewBold/courier_new_bold-webfont.eot');
    src: url('fonts/CourierNewBold/courier_new_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/CourierNewBold/courier_new_bold-webfont.woff2') format('woff2'),
    url('fonts/CourierNewBold/courier_new_bold-webfont.woff') format('woff'),
    url('fonts/CourierNewBold/courier_new_bold-webfont.ttf') format('truetype'),
    url('fonts/CourierNewBold/courier_new_bold-webfont.svg#CourierNewBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CourierOblique';
    src: url('fonts/CourierOblique/Courier-Oblique.eot?#iefix') format('embedded-opentype'),
    url('fonts/CourierOblique/Courier-Oblique.otf')  format('opentype'),
    url('fonts/CourierOblique/Courier-Oblique.woff') format('woff'),
    url('fonts/CourierOblique/Courier-Oblique.ttf')  format('truetype'),
    url('fonts/CourierOblique/Courier-Oblique.svg#CourierOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Courier-BoldOblique';
    src: url('fonts/Courier-BoldOblique/Courier-BoldOblique.eot?#iefix') format('embedded-opentype'),
    url('fonts/Courier-BoldOblique/Courier-BoldOblique.otf')  format('opentype'),
    url('fonts/Courier-BoldOblique/Courier-BoldOblique.woff') format('woff'),
    url('fonts/Courier-BoldOblique/Courier-BoldOblique.ttf')  format('truetype'),
    url('fonts/Courier-BoldOblique/Courier-BoldOblique.svg#Courier-BoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('fonts/JosefinSans/JosefinSans.eot');
    src: url('fonts/JosefinSans/JosefinSans.eot?#iefix') format('embedded-opentype'),
    url('fonts/JosefinSans/JosefinSans.woff') format('woff'),
    url('fonts/JosefinSans/JosefinSans.ttf')  format('truetype'),
    url('fonts/JosefinSans/JosefinSans.svg#JosefinSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans-Bold';
    src: url('fonts/JosefinSans/josefinsans-bold-webfont.eot');
    src: url('fonts/JosefinSans/josefinsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/JosefinSans/josefinsans-bold-webfont.woff') format('woff'),
    url('fonts/JosefinSans/josefinsans-bold-webfont.woff2') format('woff2'),
    url('fonts/JosefinSans/josefinsans-bold-webfont.ttf')  format('truetype'),
    url('fonts/JosefinSans/josefinsans-bold-webfont.svg#josefinsans-bold-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans-SemiBold';
    src: url('fonts/ProximaNova/josefinsans-semibold-webfont.eot');
    src: url('fonts/JosefinSans/josefinsans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/JosefinSans/josefinsans-semibold-webfont.woff') format('woff'),
    url('fonts/JosefinSans/josefinsans-semibold-webfont.woff2') format('woff2'),
    url('fonts/JosefinSans/josefinsans-semibold-webfont.ttf')  format('truetype'),
    url('fonts/JosefinSans/josefinsans-semibold-webfont.svg#JosefinSans-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/opensans-regular-webfont.eot');
    src: url('fonts/OpenSans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans/opensans-regular-webfont.woff') format('woff'),
    url('fonts/OpenSans/opensans-regular-webfont.ttf') format('truetype'),
    url('fonts/OpenSans/opensans-regular-webfont.svg#opensans-regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('fonts/OpenSansBold/opensans-bold-webfont.eot');
    src: url('fonts/OpenSansBold/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSansBold/opensans-bold-webfont.woff2') format('woff2'),
    url('fonts/OpenSansBold/opensans-bold-webfont.woff') format('woff'),
    url('fonts/OpenSansBold/opensans-bold-webfont.ttf') format('truetype'),
    url('fonts/OpenSansBold/opensans-bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('fonts/ProximaNova/ProximaNova-Bold.eot');
    src: url('fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
    url('fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype'),
    url('fonts/ProximaNova/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaSemiBold';
    src: url('fonts/ProximaNova/ProximaNova-Semibold.eot');
    src: url('fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
    url('fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype'),
    url('fonts/ProximaNova/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ShadowsIntoLight';
    src: url('fonts/ShadowsIntoLight/ShadowsIntoLight.eot?#iefix') format('embedded-opentype'),
    url('fonts/ShadowsIntoLight/ShadowsIntoLight.woff') format('woff'),
    url('fonts/ShadowsIntoLight/ShadowsIntoLight.ttf')  format('truetype'),
    url('fonts/ShadowsIntoLight/ShadowsIntoLight.svg#ShadowsIntoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBold';
    src: url('fonts/Gotham/gotham-bold.eot');
    src: url('fonts/Gotham/gotham-bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gotham/gotham-bold.woff') format('woff'),
    url('fonts/Gotham/gotham-bold.ttf') format('truetype'),
    url('fonts/Gotham/gotham-bold.svg#GothamBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBook';
    src: url('fonts/Gotham/gotham-book.eot');
    src: url('fonts/Gotham/gotham-book.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gotham/gotham-book.woff') format('woff'),
    url('fonts/Gotham/gotham-book.ttf') format('truetype'),
    url('fonts/Gotham/gotham-book.svg#GothamBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaMedium';
    src: url('fonts/FuturaMedium/futura_medium-webfont.eot');
    src: url('fonts/FuturaMedium/futura_medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/FuturaMedium/futura_medium-webfont.woff2') format('woff2'),
    url('fonts/FuturaMedium/futura_medium-webfont.woff') format('woff'),
    url('fonts/FuturaMedium/futura_medium-webfont.ttf') format('truetype'),
    url('fonts/FuturaMedium/futura_medium-webfont.svg#FuturaMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT';
    src: url('fonts/FuturaLT/futuralt-webfont.eot');
    src: url('fonts/FuturaLT/futuralt-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/FuturaLT/futuralt-webfont.woff2') format('woff2'),
    url('fonts/FuturaLT/futuralt-webfont.woff') format('woff'),
    url('fonts/FuturaLT/futuralt-webfont.ttf') format('truetype'),
    url('fonts/FuturaLT/futuralt-webfont.svg#FuturaLT') format('svg');
    font-weight: normal;
    font-style: normal;
}